force-app/main/default/flows/Schedule_Orchestration_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_If_Item_is_scheduled_one</name>
        <label>Check If Item is scheduled one</label>
        <locationX>454</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Its_Schedule_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.vlocity_cmt__OrchestrationItemDefinitionId__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Orchestration_Item_Definition.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OI_record</targetReference>
            </connector>
            <label>Its Schedule Item</label>
        </rules>
    </decisions>
    <formulas>
        <name>FutureDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +2</expression>
    </formulas>
    <interviewLabel>Schedule Orchestration Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Orchestration Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Orchestration_Item_Definition</name>
        <label>Get Orchestration Item Definition</label>
        <locationX>178</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Item_is_scheduled_one</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ScheduledItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_cmt__OrchestrationItemDefinition__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ScheduledItem__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OI_record</name>
        <label>Update OI record</label>
        <locationX>464</locationX>
        <locationY>218</locationY>
        <inputAssignments>
            <field>vlocity_cmt__ProcessAfter__c</field>
            <value>
                <elementReference>FutureDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_cmt__State__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Orchestration_Item_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_cmt__OrchestrationItemDefinitionId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>vlocity_cmt__OrchestrationItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
